* {
  margin: 0;
}

.main-header {
  margin-top: auto;
  height: 400px;
  width: 100%;
  background-color: #214441;
  background-image: url('../images/bright-squares.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header img {
  margin-top: 100%;
  width: 150px;
  height: 150px;
}

.main-header > div > h2 {
  color: antiquewhite;
}
