@media (min-width: 1024px) {
  body {
    display: flex;
  }

  .nav {
    display: flex;
  }

  .container {
    margin: 5%;
    margin-top: 14%;
    max-width: 700px;
    max-width: 700px;
  }

  .main-header {
    margin: 5%;
    margin-top: 30%;
    flex-shrink: 2;
  }
}

@media (max-width: 1024px) {
  .nav {
    background-color: #214441;
    background-image: url('../images/bright-squares.png');
  }
}

@media (max-width: 335px) {
  .nav {
    display: none;
  }
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  z-index: 1000;
  background-color: #4056a1;
  color: #FFFF;
}

nav > span {
  font-family: 'Bungee', sans-serif;
  margin: 2%;
}

.nav-title {
  font-size: 38px;
}

.compose-tweet-btn {
  font-size: 20px;
}
