/* for wide desktop view */
@media (min-width: 1024px) {
  .wrapper {
    display: flex;
  }

  .nav {
    display: flex;
  }

  .container {
    margin: 5%;
    max-width: 900px;
    width: 900px;
    margin-top: 10rem;
  }

  .main-header {
    margin: 5%;
    flex-shrink: 2;
    margin-top: 10rem;
  }
}

/* tablet view - modifies nav for smaller screen */
@media (max-width: 1024px) {
  .nav {
    background-color: #214441;
    background-image: url('../images/bright-squares.png');
  }
}

/* removes nav for mobile  */
@media (max-width: 335px) {
  .nav {
    display: none;
  }
}

nav {
  position: fixed;
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  z-index: 1000;
  background-color: #4056a1;
  color: #FFFF;
}

nav > span {
  font-family: 'Bungee', sans-serif;
  margin: 2%;
}

.nav-title {
  font-size: 38px;
}

#nav-btn {
  color: coral;
}
