textarea {
  background-color: #729e6f;
  border-radius: 20px;
  padding: 2%;
}

output {
  font-family: 'Bungee', sans-serif;
}

button {
  color: azure;
  font-family: 'Bungee', sans-serif;
  background-color: #4056a1;
}

.new-tweet {
  width: 90%;
}

.new-twt-header {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.new-twt-header label {
  padding: 2%;
}

.new-twt-footer {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  border-top: 5px solid black;
  padding: 2%;
}

.counter-color {
  color: red;
}

.error {
  border: 2px solid red;
  padding: 5px;
  font-size: 30px;
  margin: 10px;
  text-align: center;
  color: darkred;
}

.show {
  display: none;
}
