#tweet-container {
  width: 90%;
}

#tweet-container p {
  margin-left: 1%;
  margin-right: 1%;
  word-wrap: break-word;
}

.tweet:hover #handle {
  margin: 10px;
  opacity: 1;
}

.tweet:hover .social-media-imgs img {
  opacity: 1;
}

#handle {
  opacity: 0;
}

.tweet {
  border: 2px solid black;
  padding: 2%;
  margin: 4% 0 4% 0;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.tweet .float-left {
  display: flex;
  align-items: center;
}

.tweet .float-left span {
  margin-left: 7px;
}

.tweet p {
  padding: 1%;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  font-size: 17px;
  padding: 1%;
}

.social-media-imgs > img {
  height: 30px;
  width: 30px;
  opacity: 0;
}

.tweet {
  transition: box-shadow .9s;
  transition: filter .9s;
  opacity: 0.7;
}

.tweet:hover {
  box-shadow: 8px 8px rgb(18, 148, 109);
  opacity: 1;
}
